@model IEnumerable<EC_SOLUTION.ACEDEMIC_YEAR>

@{
    ViewBag.Title = "Index";
}

<centre><h2>List of Academin Years</h2></centre>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closuredate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STARTDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.closuredate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ACEDEMICYEARID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ACEDEMICYEARID }) |
                @if (item.EC_CLAIMS.ToList().Count == 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ACEDEMICYEARID })
                }
            </td>
        </tr>
    }

</table>
