@model IEnumerable<EC_SOLUTION.EC_CLAIMS>

@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACEDEMIC_YEAR.YEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACULTY.Faculty_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimStatu.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACEDEMIC_YEAR.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FACULTY.Faculty_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimStatu.Status)
            </td>
            <td>
                @Html.ActionLink("View", "Details", "Coordinator", new { id = item.ClaimId }, null)
            </td>
        </tr>
    }

</table>
