@model IEnumerable<EC_SOLUTION.EC_CLAIMS>
@using EC_SOLUTION.Models;
@{
    ViewBag.Title = "Statistics";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">
        @foreach (FACULTY fac in (new ECDB_EWDFINALEntities()).FACULTies.ToList())
        {
            <div class="col-lg-6">

                <h2> Statistical data for <small>@fac.Faculty_Name Faculty </small></h2>
                <br>
                @foreach (ACEDEMIC_YEAR year in (new ECDB_EWDFINALEntities().ACEDEMIC_YEAR.ToList()))
                {

                    <h4>Acedemic Year <small> @year.YEAR </small></h4>
                    <table class="table table-hover table-striped table-condensed table-responsive">
                        <tr>
                            <td> Number of Claims </td>
                            <td style="text-align: right; ">  @(new ECDB_EWDFINALEntities().EC_CLAIMS.ToList().Where(claim => claim.STUDENT.FacultyId == fac.FacultyId && claim.ACEDEMICYEARID == year.ACEDEMICYEARID).Count()) </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Precentage of Claims</td>
                            @{
                                int total_Claim_Per_Faculty = (new ECDB_EWDFINALEntities().EC_CLAIMS.ToList().Where(claim => claim.STUDENT.FacultyId == fac.FacultyId).Count());

                                int total_Claim_Per_Faculty_currentYear = ((new ECDB_EWDFINALEntities().EC_CLAIMS.ToList()).Where(claim => claim.STUDENT.FacultyId == fac.FacultyId && claim.ACEDEMICYEARID == year.ACEDEMICYEARID).Count());
                                decimal percentage = total_Claim_Per_Faculty == 0 ? 0 : (decimal.Divide(total_Claim_Per_Faculty_currentYear, total_Claim_Per_Faculty) * 100);

                                <td style="text-align: right; ">  @(total_Claim_Per_Faculty_currentYear == 0 ? "0" : String.Format("{0:.#}", percentage))% </td>
                                <td></td>
                            }
                        </tr>
                        <tr>
                            <td> Number of Student Making Claims </td>
                            <td style="text-align: right; ">  @(new ECDB_EWDFINALEntities().EC_CLAIMS.ToList().Where(claim => claim.STUDENT.FacultyId == fac.FacultyId && claim.ACEDEMICYEARID == year.ACEDEMICYEARID).GroupBy(claim => claim.StudentId).Count()) </td>
                            <td></td>
                        </tr>
                    </table>

                    <hr>
                                <hr>
                                }
                <br><br>
                <hr><hr>
            </div>


                                }
    </div>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <button onclick="show()" class="btn btn-primary form-control" id="SystemChartButton" data-toggle="modal" data-target="#myModal">
                View System Chart
            </button>
        </div>
    </div>

</div>

<div class="" id="systemcharts">
    <div class="row">
        <div class="col-lg-6">
            <img src='@Url.Action("NumberOfClaimscharts",new { type = "column" })' />
        </div>
        <div class="col-lg-6">
            <img src='@Url.Action("PercentageOfClaimsByAcademicYear",new { type = "pie" })' />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <img src='@Url.Action("linechart",new { type = "line" })' width="100%" />
        </div>

    </div>
</div>


<script type="text/javascript">
    var i = 1;
    document.getElementById("systemcharts").style.display = 'none';
    function show() {
        if (i == 0) {
            document.getElementById("systemcharts").style.display = 'block';
            document.getElementById("SystemChartButton").innerText = "Hide System Chart";
            i=1;
        }
        else {
            document.getElementById("systemcharts").style.display = 'none';
            document.getElementById("SystemChartButton").innerText = "View System Chart";
            i=0;
        }
    }
</script>